<!DOCTYPE html>
<html>
 <head>
   <title>Site Manager</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>
 <body>
 <div class="container">
   <!--It's useful to put a comment at the top of your hbs file to help you keep track of what is what when things get more complex.-->
   <h1>FAQs</h1>
   <p>Dear Friend,</p>
   <p><a href='/engineer' >Engineer.</a></p>
   <p><a href='/site' >Site.</a></p>
   <p><a href='/' >Home.</a></p>
   <p><a href='/faqs' >FAQs.</a></p>
   </div>
 </body>
</html>